* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/003/303/295/small/mountains-background-game-vector.jpg);
    
}

.inner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40vw;
    background-image: url(https://mcdn.wallpapersafari.com/medium/51/57/uJmAfY.jpg);
    padding: 1.5rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0.4);
}

.inner-div li {
    list-style: none;
    font-size: 2, 5rem;
    font-weight: 200;
    margin-top: 1rem;

}

input {
    cursor: pointer;
    width: 4rem;
    height: 2rem;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}

#submit,
btn {
    padding: 0rem 1rem;
    outline: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: aliceblue;
    background-color: aqua;
    margin-top: 1rem;
    border-radius: 1rem;
    padding-top: 3px;

}

#submit,
btn:hover {
    color: rgb(245, 250, 255);
    background-color: rgb(26, 138, 138);
}

#showScore {
    background-color: rgb(238, 218, 192);
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0.4);

}

.scoreArea {
    display: none;
}

#showScore h3 {
    font-size: 3rem;
    text-align: center;


}

.btn {
    padding: 0rem 1rem;
    outline: none;
    font-size: 1.2rem;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: aliceblue;
    background-color: aqua;
    margin-top: 1rem;
    border-radius: 1rem;
    padding-top: 3px;

}

#showScore .btn :hover {
    margin-top: 2rem;
    background-color: rgb(24, 146, 105);
    color: rgb(49, 35, 17);

}

li {

    width: 8rem;
}

.relative {
    display: flex;
    justify-content: center;
}

.question {
    text-align: center;
    /* background-color: red; */
    width: 15rem;
    font-family: cursive;
}
#win{
    display: none;
   
}
#loss{
    
    display: none;
}
.none{
    display: none;
}
.block{
    display: block;
}
img{
    height: 10rem;
    width:10rem;
}
.tryagain{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      
}